/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */

*
{
    box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 1.5;
}

/* Modular */

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 32px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-flex {
	justify-content: center;
}

h1 {
	font-size: 32px;
	font-weight: 900;
	text-align: center;
	color: #fff;
	padding: 24px 0 60px 0;
}

section {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(../media/background.jpg) no-repeat;
	background-size: cover;
	padding: 24px 0 90px 0;
}

/* Section-1 */

.box {
	width: 400px;
	height: 300px;
	background-color: #f64647;
	font-weight: 600;
	border-radius: 10px;
}

.box-2 {
	background-image: linear-gradient(90deg,#2e2a23 5%,#582729 10%,#6a232c 20%,#e84144 60%);
}

.box-3 {
	background-image: radial-gradient(#e84144 20%,#6a232c 80%,#582729, #2e2a23);
}

/* Section-2 */

.big-box {
	margin: 0 60px;
	width: 1400px;
	height: 600px;
	font-weight: 600;
	background: linear-gradient(to right bottom,rgba(128, 117, 114, 0.746) 40%,rgba(233, 87, 39, 0.65)60%),url(../media/City.jpg) no-repeat;
	background-size: cover;
	border-radius: 10px;
}